<div class="detail-container">
    <div class="row mt-3 justify-content-center mx-2 mx-md-0">
        <div class="col-12 col-md-auto">
            <div class="card no-border px-3 py-2">
                <img src={{imageUrl}} alt="Detalle Imagen" class="img-fluid" />
                <div class="button-container d-flex flex-column flex-md-row justify-content-between mt-3">
                    <a type="button" class="btn btn-secondary mb-2 mb-md-0" href="">Regresar</a>
                    <button class="btn btn-danger" data-bs-target="#delete-confirmation" data-bs-toggle="modal">Eliminar</button>  
                </div>
            </div>
        </div>
    </div>
</div>


<app-delete-confirmation> </app-delete-confirmation>
 



