<div class="container-fluid bg-light footer-container">
  <div class="row">
    <div class="col-12">
      <hr class="footer-divider" />
    </div>
    <div class="col-md-4 text-center text-md-left footer-logo">
      <img src="favicon.ico" alt="Website Logo" class="img-fluid" />
    </div>
    <div class="col-md-8 text-center text-md-right footer-info">
      <h4 class="website-name">Galeria de Imagen</h4>
      <p>Información de contacto: <a href="">Yojerlis Ponceano</a></p>
      <p>Licensed Info: © 2024 My Website. All Rights Reserved.</p>
    </div>
  </div>
</div>
