
.upload-container {
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.container {
    width: auto;
    height: 10rem;
}
.container img {
    width: auto;
    height: 10rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }


.save-button {
    bottom: 10px;
    right: 10px;
    background-color: #5dbea3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
